[Unit]
Description=Linuxpulse is a Whatpulse alternative for Linux

[Service]
Type=simple
ExecStart=sudo /usr/bin/linuxpulse event0

[Install]
WantedBy=multi-user.target
