[Unit]
Description=LinuxPulse is a Whatpulse alternative for Linux

[Service]
ExecStart=sudo /usr/bin/linuxpulse event6

[Install]
WantedBy=multi-user.target
